.overview {
  display: flex;
  height: 100vh;
}

.sidebar {
  border: solid 1px black;
  width: 300px;
  height: 100%;
  background-image: url(../../assets/chrisb_logo_hell.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 120%;
  background-color: rgb(207, 207, 207);
}
.sidebar__header {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.sidebar__body {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}
