.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.registration-form {
  display: flex;
  backdrop-filter: blur(2px);
  padding: 4rem 8rem;
  flex-direction: column;
  gap: 1rem;

  border-radius: 8px;
  background-image: linear-gradient(
    to bottom right,
    var(--neon-turquois) 1%,
    var(--stone-light) 10%,
    var(--stone-light) 90%,
    var(--neon-pink) 99%
  );
}
.registration-form__field {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 0.5rem 1rem;
}
.registration-form__input {
  cursor: pointer;
  display: flex;
  width: 15rem;
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.registration-form__field:hover,
.registration-form__input:hover {
  border-color: var(--neon-turquois);
}
.registration-form__field:focus,
.registration-form__input:focus {
  outline: none;

  border-color: var(--neon-pink);
}
