.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.registration-form {
  box-shadow: 1px 1px 2px 2px rgb(143, 140, 140);
  display: flex;
  background-color: rgb(204, 204, 203);
  padding: 4rem 8rem;
  flex-direction: column;
  gap: 1rem;
  border: solid 1px transparent;
  border-radius: 8px;
}
.registration-form__field {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 0.5rem 1rem;
}
.registration-form__input {
  display: flex;
  width: 15rem;
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
